[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
ipykernel = "*"
pylint = "*"
tensorboardx = "*"
tensorboard = "*"
pandas = "*"
matplotlib = "*"

[packages]
sentencepiece = "*"
nltk = "*"
tqdm = "*"
fairseq = "*"

[requires]
python_version = "3.7"
